.table {
  thead {
    tr {
      background-color: $primaryColor;
      color: $white;
      text-align: left;
    }
  }
  th,
  td {
    padding: 12px 15px;
  }

  tbody {
    tr {
      border-bottom: 1px solid $borderColor;
      &:nth-of-type(even) {
        background-color: $hoverColor;
      }

      &:last-of-type {
        border-bottom: 2px solid $secondaryColor;
      }

      &.active-row {
        font-weight: bold;
        color: $secondaryColor;
      }
    }
  }
}
